<header class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a routerLink=""><h1>Firebase auth</h1></a>
    <div class="info login" *ngIf="isAuth(); else buttons">
        <h6 *ngIf="getUsername()">Logged in as: {{getUsername()}}</h6>
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
    <ng-template #buttons>
        <div class="info">
            <button mat-raised-button color="primary" routerLink="signin">Sign in</button>
            <button mat-raised-button color="primary" routerLink="signup">Sing up</button>
            <button mat-raised-button color="primary" class="google" (click)="googleSignup()">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1004px-Google_%22G%22_Logo.svg.png"
                     alt="">
            </button>
        </div>
    </ng-template>
</header>
