button + button
  margin-left: 10px

a
  color: #000

  &:hover
    text-decoration: none

.login
  display: flex
  justify-content: space-between
  align-items: center

  h6
    margin-right: 10px

.google
  img
    max-width: 20px
    position: relative
    top: -2px
