<mat-card>
  <mat-card-title> Sign in</mat-card-title>
  <mat-error *ngIf="isError" class="error">{{errorMessage}}</mat-error>
  <mat-card-content>
    <form [formGroup]="signinForm">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="name" type="text" formControlName="name">
      </mat-form-field>
      <div></div>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <div></div>
      <button mat-raised-button color="primary" (click)="login()">Sign in</button>
    </form>
  </mat-card-content>
</mat-card>
