<div class="center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQw9hrDmovnJzoTJv4wXsaWBulIUToIb99gnlE4yHXo4AntqsJ2"
         alt="">
    <div *ngIf="isAdmin()">ADMIN WOW</div>
</div>
