<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer font-small bg-light">
  <div class="footer-copyright text-center py-3">
    Extrawest
  </div>
</footer>
